@import "tailwindcss";

@import "./styles/theme.css";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #F8F6F2;
  color: #111827;
  font-family: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}